{% extends 'base_admin.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}

    <h1>Bienvenue dans l'espace Admin</h1>
    <div class="buttonsForms">
        <div class="btns">
            <button id="myBtn">Ajouter images Avant/Après</button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close">&times;</span>
                    </div>
                    {{ form_start(formBefore) }}
                        {{ form_row(formBefore.images) }}
                        {{ form_row(formBefore.categories) }}
                        <button type="submit">Ajouter l'image Avant</button>
                    {{ form_end(formBefore) }}
                </div>
            </div>
        </div>
        <div class="btns">
            <button id="myBtn2">Ajouter autre image</button>
            <div id="myModal2" class="modal">
                <div class="modal-content">
                    <div>
                        <span class="close2">&times;</span>
                    </div>
                    {{ form_start(formRandom) }}
                        {{ form_row(formRandom.images) }}
                        {{ form_row(formRandom.categories) }}
                        <button type="submit">Ajouter l'image</button>
                    {{ form_end(formRandom) }}
                </div>
            </div>
        </div>
    </div>

    <div class="buttonsCategories">
        <div class="buttons">
            <button class="kitchen" id="kitchen_button">Cuisines</button>
            <button class="bathroom"  id="bathroom_button">Salles de bains</button>
            <button class="dressing"  id="dressing_button">Placards</button>
            <button class="special"  id="special_button">Aménagements spéciaux</button>
        </div>
    </div>

    <div id="kitchen">
        <div class="tables">
            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Images Avant/Après</th>
                        </tr>
                    </thead>
                    <tbody class="before-after">
                        {% for kitchens in KitchensBefore %}
                            <tr>
                                <td class="imagesBA">
                                    <img src="{{ vich_uploader_asset(kitchens, 'images') }}" alt="">
                                    <img src="{{ vich_uploader_asset(kitchens.imageAfter, 'imageFile') }}" alt="">
                                </td>
                                <td class="buttonDelete">
                                    <button class="btn">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Autres images</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kitchen in KitchensRandom %}
                            <tr>
                                <td>
                                    <img src="{{ vich_uploader_asset(kitchen, 'images') }}" alt="">
                                </td>
                                <td>
                                  <a href="{{ path('images_random_delete', {'id': kitchen.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="bathroom" class="display">
        <div class="tables">
            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Images Avant/Après</th>
                        </tr>
                    </thead>
                    <tbody class="before-after">
                        {% for Bathroom in BathroomsBefore %}
                            <tr>
                                <td>
                                    <img src="{{ vich_uploader_asset(Bathroom, 'images') }}" alt="">
                                    <img src="{{ vich_uploader_asset(Bathroom.imageAfter, 'imageFile') }}" alt="">
                                </td>
                                <td>
                                    <button class="btn">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Autres images</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Bathroom in BathroomsRandom %}
                            <tr>
                                <td>
                                    <img src="{{ vich_uploader_asset(Bathroom, 'images') }}" alt="">
                                </td>
                                <td>
                                    <a href="{{ path('images_random_delete', {'id': Bathroom.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="dressing" class="display">
        <div class="tables">
            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Images Avant/Après</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Dressing in DressingsBefore %}
                            <tr>
                                <td>
                                    <img src="{{ vich_uploader_asset(Bathroom, 'images') }}" alt="">
                                    <img src="{{ vich_uploader_asset(Dressing.imageAfter, 'imageFile') }}" alt="">
                                </td>
                                <td>
                                    <button class="btn">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tableImages">
                <table>
                    <thead>
                        <tr class="titles">
                            <th colspan="3">Autres images</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Dressing in DressingsRandom %}
                            <tr>
                                <td>
                                    <img src="{{ vich_uploader_asset(Dressing, 'images') }}" alt="">
                                </td>
                                <td>
                                    <a href="{{ path('images_random_delete', {'id': Dressing.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="special" class="display">
        <div class="tables">
            <div class="tableImages">
                <table>
                    <thead>
                    <tr class="titles">
                        <th colspan="3">Images Avant/Après</th>
                    </tr>
                    </thead>
                    <tbody class="before-after">
                    {% for special in SpecialsBefore %}
                        <tr>
                            <td class="imagesBA">
                                <img src="{{ vich_uploader_asset(special, 'images') }}" alt="">
                                <img src="{{ vich_uploader_asset(special.imageAfter, 'imageFile') }}" alt="">
                            </td>
                            <td class="buttonDelete">
                                <button class="btn">Supprimer</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tableImages">
                <table>
                    <thead>
                    <tr class="titles">
                        <th colspan="3">Autres images</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for special in SpecialsRandom %}
                        <tr>
                            <td>
                                <img src="{{ vich_uploader_asset(special, 'images') }}" alt="">
                            </td>
                            <td>
                                <a href="{{ path('images_random_delete', {'id': special.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
