{% extends 'base.html.twig' %}

{% block title %}ImagesRandom index{% endblock %}

{% block body %}
    <h1>ImagesRandom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image_name</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for images_random in images_randoms %}
            <tr>
                <td>{{ images_random.id }}</td>
                <td>{{ images_random.images }}</td>
                <td>{{ images_random.updatedAt ? images_random.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('images_random_show', {'id': images_random.id}) }}">show</a>
                    <a href="{{ path('images_random_edit', {'id': images_random.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('images_random_new') }}">Create new</a>
{% endblock %}
